html,body{
    height:100%;
}
.container{
    min-height: 100%;
    display:flex;
    flex-direction: column;
}

header,footer{
    flex: 0 0 150px;
}

.center{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

}

nav, aside{
    flex: 1;
}

main{
    flex:3;
}
.pink{
background-color: rgb(233, 160, 184);
}
.blue{
background-color: rgb(159, 159, 240);
}
.green{
background-color: #b3eeb3;
}
.purple{
background-color: rgb(211, 156, 211);
}
.yellow{
background-color: rgb(253, 253, 124);
}